<!DOCTYPE html>
<html>
<head>
    <title>Money Transfer</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <header>
        <h1>Welcome to Money Transfer</h1>
    </header>
    <div class="container">
        <a href="/customers">View All Customers</a>
    </div>
</body>
</html>
